{% extends 'base.html' %}
{% load static %}

{% block title %} Register {% endblock title %}

{% block content %}

<link rel="stylesheet" href={% static 'account/css/register.css' %}/>
<div class="page-content">
	<div class="form-v1-content p-5">
		<div class="wizard-form">
		    <form class="form-register" action="." method="post">
		        <div id="form-total">
		        	<!-- SECTION 1 -->
					{% csrf_token %}
			        <h1>
			            <span class="step-text">Create Account</span>
			        </h1>
			        <section>
			             <div class="inner">
			                <div class="wizard-header">
								<p>Please enter your infomation so we can build your account.</p>
							</div>	
							

							{% if form.errors %}
                    		<p>Please correct the following errors:</p>
                    		{% for field in form %}
                    		{% if field.errors %}
                    		<div class="alert alert-primary" role="alert">
                        		{{ field.label }}: {{ field.errors|striptags }}
                    		</div>
                    		{% endif %}
                    		{% endfor %}
                    		{% endif %}
							<div class="form-row">
								<div class="form-holder">
									<fieldset>
										<legend>{{ form.firstName.label }}</legend>
										{{ form.firstName }}
									</fieldset>
								</div>
								<div class="form-holder">
									<fieldset>
										<legend>{{ form.lastName.label }}</legend>
										{{ form.lastName }}
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>{{ form.user_name.label }}</legend>
										{{ form.user_name }}
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>{{ form.phoneNumber.label }}</legend>
										{{ form.phoneNumber }}
									</fieldset>
								</div>
							</div>		
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>{{ form.email.label }}</legend>
										{{ form.email }}
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>{{ form.password.label }}</legend>
										{{ form.password }}
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>{{ form.password2.label }}</legend>
										{{ form.password2 }}
									</fieldset>
								</div>
							</div>
                            <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Register</button>
						</div>
			        </section>
		        </div>
		    </form>
		</div>
	</div>
</div>

{% endblock content %}