<div class="fixed-side-navbar">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><span>Intro</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}"><span>Services</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}"><span>Portfolio</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'our_story' %}"><span>Our Story</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}"><span>Contact Us</span></a></li>
    </ul>
</div>

{% comment %} İçinde bulunulan sayfayı işaret eden elemandaki yazı kalın yazılmalı. {% endcomment %}
