<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#pt">Back to Top</a>
                </div>
                <ul>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://tr.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.google.com"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://dribbble.com"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <p>Copyright &copy; 2022 Yusuf Ersel Bal
        
                - Design: <a rel="nofollow noopener" href="https://templatemo.com"><em>TemplateMo</em></a></p>
            </div>
        </div>
    </div>
</footer>