<div class="fixed-side-navbar">
    <ul class="nav flex-column">
        {% if not user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}"><span>Login</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}"><span>Register</span></a></li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cartSummary' %}">
                <span>
                {% with totalQty=cart|length %}
                <div id="cart-qty">
                {% if totalQty > 0 %}
                {{ totalQty }}
                {% else %}
                0
                {% endif %}
                Items</div>
                {% endwith %}
                in Cart
                </span> 
            </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account:edit' %}"><span>Profile</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account:dashboard' %}"><span>Dashboard</span></a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'website:home' %}"><span>Home</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'website:info' %}"><span>Info</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'website:services' %}"><span>Services</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'website:our_story' %}"><span>Our Story</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'website:contact_us' %}"><span>Contact Us</span></a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}"><span>Logout</span></a></li>
        {% endif %}
    </ul>
</div>