{% extends 'base.html' %}

{% block title %} Django Project Homepage {% endblock title %}

{% block content %}

<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="first-content">
            <h1>Long Blue</h1>
            <span><em>
                {% if user.is_authenticated %}
                {{ user.firstName }}<span class="text-white">,</span>
                {% else %}
                Guest<span class="text-white">,</span>
                {% endif %}
            </em> Welcome to Our Shop.</span>
            <br/><br/>
            {% if not user.is_authenticated %}
            <div class="primary-button" style="display: inline;">
                <a href="{% url 'account:login' %}">Log In</a>
            </div>
            <div class="primary-button" style="display: inline;">
                <a href="{% url 'account:register' %}">Register</a>
            </div>
            {% else %}
            <div class="primary-button" style="display: inline;">
                <a href="{% url 'website:services' %}">Discover</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}