{% extends 'base.html' %}
{% load static %}

{% block title %} Our Story {% endblock title %}

{% block content %}

<div class="tabs-content" id="our-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="wrapper">
                <section id="first-tab-group" class="tabgroup">
                  <div id="tab1">
                    <img src="{% static 'website/img/1st-tab.jpg' %}" alt="">
                    <p>The history of software companies is closely tied to the history of computing and the development of computer technology. In the early days of computing, software was often developed by academic researchers or government agencies for specific purposes. In the 1960s and 1970s, as the personal computer (PC) market began to emerge, a number of software companies were founded to develop software for these new devices.</p>
                  </div>
                  <div id="tab2">
                    <img src="{% static 'website/img/2nd-tab.jpg' %}" alt="">
                    <p>Some of the earliest software companies included Microsoft, founded in 1975 by Bill Gates and Paul Allen, and Apple, founded in 1976 by Steve Jobs and Steve Wozniak. These companies were among the first to develop operating systems and other software for the PC market, and they continue to be major players in the industry today.</p>
                  </div>
                  <div id="tab3">
                    <img src="{% static 'website/img/3rd-tab.jpg' %}" alt="">
                    <p>Other notable software companies that have played a significant role in the development of the industry include Oracle, Adobe, and SAP. These companies have developed a wide range of software products, including database management systems, creative software, and enterprise resource planning (ERP) systems.</p>
                  </div>
                  <div id="tab4">
                    <img src="{% static 'website/img/4th-tab.jpg' %}" alt="">
                    <p>In recent years, the software industry has experienced significant growth and change, with the emergence of new technologies such as cloud computing, mobile devices, and artificial intelligence (AI). This has led to the development of new software companies, as well as the expansion of existing ones, as they strive to meet the changing needs of their customers.</p>
                  </div>
                  
                </section>
                <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                  <li><a href="#tab1" class="active">First Years</a></li>
                  <li><a href="#tab2">Examples</a></li>
                  <li><a href="#tab3">Other Companys</a></li>
                  <li><a href="#tab4">Future</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}