{% extends 'base.html' %}
{% load static %}

{% block title %} {{ service.name }} {% endblock %}

{% block content %}

<link rel="stylesheet" href={% static 'website/css/item.css' %}>

<div class="container d-flex justify-content-center mt-5">
        	<div class="profile-card">
        		<div class="profile-image text-center mt-4">
        			<img src="{{ service.bigImage.url }}" class="img-fluid rounded img-thumbnail mb-5" width="400">			
        		</div>
        		<div class="profile text-center mt-2 text-white">
        			<h1 class="mt-2" style="font-size: 2.5rem;">{{ service.name }}</h1>
        			<span class="d-block">{{ service.description|slice:":355" }}</span>
        			<span class="d-block mt-3" style="font-size: 5rem;"><span style="font-size: 3rem;">₺</span> {{ service.price }}</span>
                    <label for="service-qty" style="font-size: 2rem;">Item Quantity</label>
                    <h5 class="fw-normal mb-2"><input id="service-qty" type="number" min="1" name="someid" value="1" style="width: 50px; font-size: 2rem;"/></h5>
        			<div class="mt-4">   
                        {% if user.is_authenticated %}
                        <button type="button" id="add-btn" value="{{ service.id }}" class="btn btn-dark btn-lg" style="height: 40px;">Add to Cart!</button>
                        {% else %}
                        <button type="button" class="btn btn-dark btn-lg" style="height: 40px;"><a class="text-reset" href="{% url 'account:login' %}">Click Here and Login for Buy.</a></button>
                        {% endif %}	
        			</div>
        		</div>
        	</div>       	
        </div>
    </br></br></br></br></br></br></br></br></br>
<script>

    $(document).on('click', '#add-btn', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cartAdd" %}',
            data: {
                serviceid: $('#add-btn').val(),
                serviceqty: $('#service-qty').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                document.getElementById("cart-qty").innerHTML = json.qty + " Items";
            },
            error: function (xhr, errmsg, err) {}
        });
    });

</script>

{% endblock %}