{% extends 'base.html' %}

{% block title %} Django Project Homepage {% endblock title %}

{% block content %}

<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="first-content">
            <h1>Vanilla</h1>
            <span><em>Bootstrap</em> v4.2.1 Theme</span>
            <br/><br/>
            <div class="primary-button" style="display: inline;">
                <a href="{% url 'website:login' %}">Log In</a>
            </div>
            <div class="primary-button" style="display: inline;">
                <a href="{% url 'website:register' %}">Register</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}