{% extends 'base.html' %}
{% load static %}

{% block title %} Portfolio {% endblock title %}

{% block content %}

<div class="parallax-content projects-content" id="portfolio">
    <div class="container">
        <div class="">
            {% for category in categories %}
            <a class="" href="{{ category.get_absolute_url }}"><span> | {{ category.name }} | </span></a>
            {% endfor %}
        </div>  
        <div class="row">
            <div class="col-md-12">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    {% for service in services %}
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{{ service.bigImage.url }}" data-lightbox="image-1"><img src="{{ service.image.url }}" alt=""></a>
                            <div class="text-content">
                                <h4> {{ service.name }} </h4>
                                <span>₺ {{service.price}} </span>
                                <button type="button" class="addCart btn btn-warning">Add to Cart!</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}