{% extends 'base.html' %}
{% load static %}

{% block title %} Portfolio {% endblock title %}

{% block content %}

{% comment %} Itemlar tek bir şablon olarak oluşturulabilir. {% endcomment %}
<div class="parallax-content projects-content" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/1st-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/1st-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Awesome Note Book</h4>
                                <span>$18.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/2nd-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/2nd-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Antique Decoration Photo</h4>
                                <span>$27.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/3rd-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/3rd-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Work Hand Bag</h4>
                                <span>$36.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/4th-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/4th-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Smart Watch</h4>
                                <span>$45.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/5th-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/5th-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>PC Tablet Draw</h4>
                                <span>$63.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/6th-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/6th-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Healthy Milkshake</h4>
                                <span>$77.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="{% static 'website/img/2nd-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/2nd-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Antique Decoration Photo</h4>
                                <span>$84.50</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/{% static 'website/img/1st-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'website/img/1st-item.jpg' %}" alt=""></a>
                            <div class="text-content">
                                <h4>Awesome Notes Book</h4>
                                <span>$96.75</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}