{% extends 'base.html' %}

{% block title %} Services {% endblock title %}

{% block content %}

<div class="service-content" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include 'partials/_services-text.html' %}
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% include 'partials/_services-items.html' %}
                    {% comment %} Itemlar tek bir şablon olarak oluşturulabilir. {% endcomment %}
                </div>
            </div>                
        </div>
    </div>
</div>

{% endblock content %}