{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %} {% endblock title%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'icon.png' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'website/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/templatemo-main.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/owl-carousel.css' %}">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    </head>

<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->

<body id="pt">

  {% include '_partials/_side-navbar.html' %}

  {% block content %} {% endblock content %}

  {% include '_partials/_footer.html' %}

</body>

  {% include '_partials/_script.html' %}

</html>
