{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}
<link rel="stylesheet" href={% static 'website/css/login.css' %}>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Login</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
		    <h3 class="mb-4 text-center">Have an account?</h3>
		    <form action="#" class="signin-form" action="{% url 'account:login' %}", method="post">
				{% csrf_token %}

				{% if form.errors %}
				<div class="alert alert-primary">
					Error: Invalid username or password.
				</div>
				{% endif %}

		      	<div class="form-group">
					{{ form.username }}
		      	</div>
	            <div class="form-group">
					{{ form.password }}
	                <span toggle="#login-pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
					<div class="w-50 text-md-left">
					    <a href="{% url 'account:register' %}" style="color: #fff">Create Account</a>
				    </div>
				    <div class="w-50 text-md-right">
					    <a href="{% url 'account:pwdreset' %}" style="color: #fff">Forgot Password?</a>
				    </div>			
	            </div>
	        </form>
		    </div>
			</div>
		</div>
	</div>
</section>

<script src={% static 'website/js/popper.js' %}></script>
{% endblock content %}

