{% comment %} <div class="col-md-6">
    <div class="service-item">
        <h4>{% block header %} {% endblock header %}</h4>
        <div class="line-dec"></div>
        <p>{% block inner %} {% endblock inner %}</p>
    </div>
</div> {% endcomment %}

<div class="col-md-6">
    <div class="service-item">
        <h4>Classic Modern Design</h4>
        <div class="line-dec"></div>
        <p>Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque.</p>
    </div>
</div>
<div class="col-md-6">
    <div class="service-item">
        <h4>Unique &amp; Creative Ideas</h4>
        <div class="line-dec"></div>
        <p>Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque.</p>
    </div>
</div>
<div class="col-md-6">
    <div class="service-item">
        <h4>Effective Team Work</h4>
        <div class="line-dec"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula est, at venenatis ex iaculis quis.</p>
    </div>
</div>
<div class="col-md-6">
    <div class="service-item">
        <h4>Fast Support 24/7</h4>
        <div class="line-dec"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula est, at venenatis ex iaculis quis.</p>
    </div>
</div>