{% extends 'base.html' %}
{% load static %}

{% block title %} Reset Confirm {% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'website:home' %}"
</script>
{% endif %}

<link rel="stylesheet" href={% static 'website/css/login.css' %}>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Change your password.</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
		    <form action="." class="signin-form" action="{% url 'account:pwdreset' %}", method="post">
				{% csrf_token %}

				{% if form.errors %}
				<div class="alert alert-primary">
					Error: Try again.
				</div>
				{% endif %}

                <div class="w-50 text-md-left">
                    <a href="#" style="color: #fff"></a>
                </div>

		      	<div class="form-group">
					{{ form.new_password1 }}
                    <span toggle="#new-pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		      	</div>
	            <div class="form-group">
					{{ form.new_password2 }}
	                <span toggle="#new-pwd-2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	                <button type="submit" class="form-control btn btn-primary submit px-3">Change Password</button>
	            </div>
	        </form>
		    </div>
			</div>
		</div>
	</div>
</section>

<script src={% static 'website/js/popper.js' %}></script>
{% endblock content %}