{% extends 'base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'website:home' %}"
</script>
{% endif %}

<link rel="stylesheet" href={% static 'website/css/login.css' %}>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Enter your e-mail address to obtain a new password.</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
		    <form action="." class="signin-form" action="{% url 'account:pwdreset' %}", method="post">
				{% csrf_token %}

				{% if form.errors %}
				<div class="alert alert-primary">
					Error: Try again.
				</div>
				{% endif %}

                <div class="w-50 text-md-left">
                    <a href="#" style="color: #fff"></a>
                </div>

		      	<div class="form-group">
					{{ form.email }}
		      	</div>
	            <div class="form-group">
	                <button type="submit" class="form-control btn btn-primary submit px-3">Send E-Mail</button>
	            </div>
	        </form>
		    </div>
			</div>
		</div>
	</div>
</section>

<script src={% static 'website/js/popper.js' %}></script>
{% endblock content %}