{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}

<link rel="stylesheet" href={% static 'website/css/profile.css' %}>

<div class="container">
    <div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>My Profile</h3>
				<hr style="color: white;">
			</div>
			<!-- Form START -->
			<form class="file-upload" method="post" enctype="multipart/form-data">

                {% if userForm.is_valid %}
                <div class="alert alert-primary" role="alert">
                    Details Changed.
                </div>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    You can edit your profile from below form.
                </div>
                {% endif %}

                {% if form.errors %}
                <div class="alert alert-primary" role="alert">
                    Error: Try Again.
                </div>
                {% endif %}

                {% csrf_token %}
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-12 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0 text-white">{{user.user_name}} | Profile Details</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">{{ userForm.firstName.label }}</label>
                                    {{userForm.firstName}}
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">{{userForm.lastName.label}}</label>
                                    {{userForm.lastName}}
								</div>
								<!-- Phone number -->
								<div class="col-md-6">
									<label class="form-label">{{userForm.phoneNumber.label}}</label>
									{{userForm.phoneNumber}}
								</div>
								<!-- Email -->
								<div class="col-md-3">
									<label for="inputEmail4" class="form-label">{{userForm.email.label}}</label>
									{{userForm.email}}
								</div>
                                <!-- Username -->
                                <div class="col-md-3">
									<label class="form-label">{{userForm.user_name.label}}</label>
									{{userForm.user_name}}
								</div>
								<!-- Address -->
								<div class="col-md-12">
									<label class="form-label">{{userForm.address.label}}</label>
									{{userForm.address}}
								</div>
							</div> <!-- Row END -->
						</div>
					</div>
                

			    <!-- change password -->
					{% comment %} <div class="col-xxl-12">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="my-4 text-white">{{user.user_name}} | Change Password</h4>
								<!-- Old password -->
								<div class="col-md-6">
									<label for="exampleInputPassword1" class="form-label">Old password *</label>
									<input type="password" class="form-control" id="exampleInputPassword1">
								</div>
								<!-- New password -->
								<div class="col-md-6">
									<label for="exampleInputPassword2" class="form-label">New password *</label>
									<input type="password" class="form-control" id="exampleInputPassword2">
								</div>
								<!-- Confirm password -->
								<div class="col-md-12">
									<label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
									<input type="password" class="form-control" id="exampleInputPassword3">
								</div>
							</div>
						</div>
					</div> {% endcomment %}
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center mb-5">
					<button type="submit" class="btn btn-secondary btn-lg" value="Update Info">Update Info</button>
				</div>
			<!-- Form END -->
            </form>
            <hr style="color: white; height: 20px;">
            <form class="account-form px-4" action="{% url 'account:delete' %}" method="post">
                {% csrf_token %}
                <p class=" h3 pt-4 font-weight-bold text-white">{{ user.user_name }} | Delete Account</p>
                <p class="text-white">Are you sure you want to delete your account?</p>
                <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-2 fw-bold w-100">Delete</button>
            </form>

		</div>
	</div>
</div>

{% endblock content %}