{% extends 'base.html' %}
{% load static %}
{% block title %} Cart {% endblock title %}

{% block content %}

<link rel="stylesheet" href={% static 'cart/css/cart.css' %}>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-12">
                  <h5 class="mb-3"><a href="{% url 'website:services' %}" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue Shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping Cart</p>
                      <p class="mb-0">
                      {% with totalQty=cart|length %}
                      You have
                      <span id="summary-qty">
                      {% if totalQty > 0 %}
                      {{ totalQty }}
                      {% else %}
                      0
                      {% endif %}
                      </span>
                      items in your cart.
                      </p>
                      {% endwith %}
                    </div>
                  </div>

                  {% for service in cart %}
                  <div data-index="{{ service.sID }}" class="card mb-3 service-cart">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <a href="{{ service.sUrl }}">
                              <img src="{{ service.sImageUrl }}" class="img-fluid rounded-3" alt="Shopping Item" style="width: 65px;">
                            <a/>
                          </div>
                          <div class="ms-3">
                            <h5><a href="{{ service.sUrl }}">{{ service.sName }}<a/></h5> 
                            <p class="small mb-0">{{ service.sDescription }}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-2"><input id="service-qty-{{ service.sID }}" type="number" min="1" name="someid" value="{{ service.itemQty }}" style="width: 50px;"/></h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 id="item-price" class="mb-0">₺ {{ service.sPrice }}</h5>
                          </div>
                            <a class="update-btn me-2" style="color: #cecece;" data-index="{{ service.sID }}"><i class="fas fa-refresh" style="cursor: pointer; "></i></a>
                            <a class="delete-btn" style="color: #cecece;" data-index="{{ service.sID }}"><i class="fas fa-trash-alt" style="cursor: pointer; "></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}                        
  
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  
                  <button id="submit" type="submit" class="btn btn-info btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span><a class="text-dark" 
                         href= {% if total > 0 %} "{% url 'payment:pay' %}"
                               {% else %} "{% url 'website:services' %}"
                               {% endif %}>
                        
                        {% if total > 0 %}
                        Continue
                        {% else %}
                        Please add something to card.
                        {% endif %}
                      </a><i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                    </div>
                  </button>
                </div>
                <div class="col-lg-2 d-flex justify-content-between">
                  <p class="mb-2">Subtotal</p>
                  <p id="subtotal" class="mb-2">₺ <span id="total">{{ total }}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script>

    //Delete
    $(document).on('click', '.delete-btn', function (e) {
        e.preventDefault();
        var srvID = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cartDelete" %}',
            data: {
                serviceid: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },
            success: function (json) {
              $('.service-cart[data-index="' + srvID + '"]').remove();
              document.getElementById("cart-qty").innerHTML = json.qty + " Items"; //Side Navbar Quantity
              document.getElementById("summary-qty").innerHTML = json.qty; //Cart Quantity
              document.getElementById("subtotal").innerHTML = "₺ " + json.subtotal; //Subtotal Text

              //if (document.getElementById("total").innerHTML === "0") {
                //document.getElementById("submit").classList.toggle("disabled")
              //}
            },
            error: function (xhr, errmsg, err) {}
        });
    });

    //Update
    $(document).on('click', '.update-btn', function (e) {
      e.preventDefault();
      var srvID = $(this).data('index');
      $.ajax({
          type: 'POST',
          url: '{% url "cart:cartUpdate" %}',
          data: {
              serviceid: $(this).data('index'),
              serviceqty: $('#service-qty-' + srvID).val(),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post',
          },
          success: function (json) {
            document.getElementById("cart-qty").innerHTML = json.qty + " Items"; //Side Navbar Quantity
            document.getElementById("summary-qty").innerHTML = json.qty; //Cart Quantity
            document.getElementById("subtotal").innerHTML = "₺ " + json.subtotal; //Subtotal Text
          },
          error: function (xhr, errmsg, err) {}
      });
  });

</script>

{% endblock content %}